body{
	background: url("images/fon.png") repeat;
}

h1{
	color: #FF0000;
	text-decoration: underline;
	text-shadow: #696969;
	font: bold italic 18pt/10pt lobster;
	text-align: center;
}

h1, h2 {
	border-radius: 15px;
}


.title{
	margin: 20px;

}

.block{
	border: 1px solid black;
	margin: 20px;
}

table, input, button{
	margin: 10px;
	position: static;
	text-align: center;
}

#t_voc{
	border: 2px solid;
	background-color: #9ACD32;
}

input{
	border: 1px solid gray;
	border-radius: 15px;
}

th, td{
	width: 300px;
	padding: 5px 5px 5px 10px;
	border: 1px solid;
}

#add_new{
	text-align: right;
}

button{
	cursor:pointer;
	border-radius: 5px;
}

button:hover {
	background-position:0 -350px;
	border-radius: 5px;
	background-color: #E0FFFF;
	font-style: italic;
}

